*.pyc
*.swp
*.prof
MANIFEST
dist/
build/
.coverage
.cache/
*.egg-info/
.pytest_cache/
.tox/
src/datafog/__pycache__/
src/datafog/pii_tools/__pycache__/
tests/__pycache__/
tests/scratch.py
tests/.datafog_env/
node_modules/
datafog_debug.log
sotu_2023.txt
.DS_Store
venv/
datafog-python/datafog/processing/image_processing/__pycache__/
datafog-python/datafog/processing/text_processing/__pycache__/
datafog-python/datafog/services/__pycache__/
datafog-python/datafog/processing/__pycache__/
datafog-python/datafog/__pycache__/
.env
coverage.xml
