*.pyc
*.swp
*.prof
MANIFEST
dist/
build/
.coverage
.cache/
*.egg-info/
.pytest_cache/
.tox/
/src/datafog/__pycache__/
/src/datafog/pii_tools/__pycache__/
/tests/__pycache__/
/tests/scratch.py
node_modules/
datafog_debug.log
sotu_2023.txt
.DS_Store