# Python bytecode
*.pyc
__pycache__/

# Distribution / packaging
MANIFEST
dist/
build/
*.egg-info/

# Testing
.coverage
.coverage.*
.cache/
.pytest_cache/
.tox/
coverage.xml
htmlcov/
.benchmarks/
tests/scratch.py
tests/.datafog_env/
error_log.txt

# Environment
.env
.venv
venv/
env/
examples/venv/
benchmark_env/

# Editors
*.swp
*.swo
.idea/
.vscode/
*.sublime-*

# OS specific
.DS_Store
Thumbs.db

# Logs and debugging
*.log
*.prof
datafog_debug.log

# Project specific
sotu_2023.txt
node_modules/
scratch.py

# Documentation build
docs/_build/
docs/*
!docs/*.rst
!docs/conf.py
!docs/Makefile
!docs/make.bat

# Keep all directories but ignore their contents
*/**/__pycache__/

# Keep all files but ignore their contents
Claude.md
notes/benchmarking_notes.md
Roadmap.md
notes/*